*{
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 2vh 5vw;
  box-sizing: border-box;
}

table{
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

th {
  background-color: #0f4c96;
  color: white;
  padding: 0.5rem 0rem;
  font-size: 1.2rem;
}

tr {
  background-color: aliceblue;
}

tr:nth-child(even){
  background-color: snow;
}

td {
  padding: 0.2rem clamp(0.5rem,5% 2rem);
}

tbody > tr > td:nth-child(3), tbody > tr > td:nth-child(4) {
  text-align: center;
  width: 15%;
}

tbody > tr > td:nth-child(1), tbody > tr > td:nth-child(2) {
  width: 35%;
} 

img {
  width: 2rem;
  height: auto;
}

tfoot td {
  background-color: #0f4c96;
  text-align: center;
  padding: 0.4rem 0rem;
}

.form-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.form-container > form, form > div {
  display: flex;
  flex-direction: column;
}

form > div {
  gap: 0.2rem;
}

form > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form > div:last-child > input[type='submit'],form > div:last-child > input[type='button'] {
  width: 50%;
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: none;
  appearance: none;
}

.form-container > form {
  gap: 1.5rem;
  width: max-content;
  height: auto;
  padding: 1.5rem;
  background-color: #0f4c96;
  border-radius: 1rem;
  color: white;
  font-weight: 900;
}

 tbody > .delete:hover {
  background-color: rgba(247, 37, 37, 0.3);
  color: maroon;
  text-decoration: line-through;
}

tfoot button {
  background-color: white;
  color:#0f4c96;
  font-weight: 800;
  border: none;
  padding: 0.2rem;
  border-radius: 0.5rem;
  appearance: none;
  width: clamp(max-content,33%,8rem);
}


tfoot button {
  margin-left: 5%;
  margin-right: 5%;
}